{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="home-slide">
    {% if ab_sli%}
    {% for x in ab_sli %}
    <img src="{{ x.image.url }}">
    {% endfor %}
    {% else %}
    {% endif %}
</section>

{% if dr%}
<section class="dr-gedar-section">
    <div class="container">
        <div class="dr-gedar-title">
            {% for x in dr %}
            {%if not x in dr%}
            <h1><strong>Dunger</strong> Ram Gedar</h1>
            {% else %}
            {%for x in dr%}
            <h1><strong>{{ x.text_in_strong }}</strong> {{ x.text_out_strong }}</h1>
            {%endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% else %}
{% endif %}

<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="blog-heading">
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
        <div class="row blog-section-post">
            <div class="col-sm-9">

                <div class="blog-left">
                    <div class="blog-col">
                        {% if obj1%}
                        {% for x in obj1 %}
                        <div class="blog-image">
                            {% if x.main_image %}
                            <img src="{{ x.main_image.url }}" alt="Default">
                            {% else %}
                            {% endif %}
                            <div class="blog-date">{{x.date}}</div>
                        </div>
                        <div class="blog-content">
                            <h4>{{x.title }}</h4>
                            <div class="comment-div">
                                <ul>
                                    <li><img src="{% static 'images/user-icon.png' %}" alt="Icon">{{x.write_by}}</li>
                                    <li><img src="{% static 'images/comment-icon.png' %}"
                                            alt="Icon">{{num_comment}}&nbsp;Comment</li>
                                </ul>
                            </div>
                            <div class="default-css">
                                {% autoescape off %}{{x.message}}{% endautoescape %}
                            </div>

                        </div>
                        {% endfor %}
                        {% else %}
                        {% endif %}


                        {% if com%}
                        <h3>Comments:</h3>
                        <div class="comment-div">
                            {% for x in com %}
                            <ul>
                                <li><a href="#"><img src="{% static 'images/user-icon.png' %}" alt="Icon">{{x.name}}</a>
                                </li>
                                <li><a href="#"><img src="{% static 'images/comment-icon.png' %}"
                                            alt="Icon">{{x.text}}</a></li>
                            </ul>
                            {% endfor %}
                        </div>

                        {% else %}

                        {% endif %}

                    </div>
                    <nav class="navigation post-navigation">
                        <h2 class="screen-reader-text">Post navigation</h2>
                        <div class="nav-links">
                            <div class="nav-previous"><a href="{% url 'index'%}" rel="prev"><span class="meta-nav"
                                        aria-hidden="true">Back Home</span> <span class="screen-reader-text">Back
                                        Home:</span> <br>
                                    <span class="post-title">Why do we use
                                        it?</span></a></div>
                        </div>
                    </nav>
                    <div class="comment-respond">
                        <h2 class="comment-reply-title">Leave a Reply </h2>
                        <form id="commentform" class="section-inner" method="POST" action="{% url 'comment_form'%}">
                            {% csrf_token %}
                            <p class="comment-notes"><span id="email-notes">Your email address will not be
                                    published.</span> Required
                                fields are marked <span class="required">*</span></p>
                            <p class="comment-form-comment"><label for="comment">Comment<span
                                        class="required">*</span></label>
                                <textarea id="comment" name="comment" required="required"></textarea>
                            </p>
                            <p class="comment-form-author">
                                <label for="author">Name <span class="required">*</span></label>
                                <input id="author" name="name" type="text" value="" required="required"></p>
                            <p class="comment-form-email">
                                <label for="email">Email <span class="required">*</span></label>
                                <input id="email" name="email" type="email" value="" required="required"></p>
                            <p class="comment-form-url">
                                <label for="url">Website</label>
                                <input id="url" name="website" type="url" value=""></p>
                            <p class="comment-form-cookies-consent">

                                <input id="wp-comment-cookies-consent" name="" type="checkbox" value="yes"> <label>Save
                                    my name, email, and website in this browser for the next time
                                    I comment.</label></p>
                            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit">
                                <input type="hidden" name="title" value="{{title}}">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="blog-sidebar">
                    <form class="search-form" method="POST" action="{% url 'get_query'%}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="search" class="search-input search-field" placeholder="Search Here..." value=""
                            name="search">
                        <input type="submit" name="submit" value="" class="search-btn button-search">
                    </form>
                    <div class="blog-side-category">
                        <h3>Categories</h3>
                        {% if cat%}
                        <ul>
                            {% for x in cat %}
                            <li class="cat-item cat-item-1"><a href="{% url 'cat' x.type %}">{{x.type}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="blog-side-category">
                        <h3>RECENT POST</h3>
                        {% if Recent %}
                        {% for x in Recent %}
                        <div class="recent-posts">
                            {% if x.main_image %}
                            <figure><a href="#"><img src="{{x.main_image.url}}" alt="Default"></a></figure>
                            {% else %}
                            {% endif %}
                            <figcaption>
                                <h4><a href="{% url 'blog_detail' x.slug %}">{{x.title}}</a>
                                </h4>
                                <span><a href="{% url 'blog_detail' x.slug %}">{{x.date}} </a></span>
                            </figcaption>
                        </div>
                        {% endfor %}
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}